extends layout

block content
  h1 Standart decks
  each deck in decks
    div(style="clear:left")
      hr
      h2
        a(style="text-decoration:none;color:#f78f00;", href=deck.url)
          | #{deck.name} (#{deck.cost}#{deck.costApprox ? "?" : ""})
      each card in deck.cards
        div(style="float: left;text-align: center;border: 1px solid lightgray;background-color:" + (card.count <= card.numberAvailable  ? "#e2ffe2" : "#f5eded"))
          div
            a(href=card.url)
              img(src=card.img, title=card.flavorText)

          div(style="font-weight:bold;")
            | #{card.name} (#{card.type}) x #{card.count})
          div
            | Class: #{card.class}
          div
            | Dust: #{card.cost}
          div(style="visibility:"+ (card.set ? "visible" : "hidden"))
            | Set: #{card.set}
          div
            span
              | Available: 
            a(id=card.id, style="text-decoration:none;color:#6da3bd;", href="#")
              | up
            span(style="padding: 0 .5rem;")
              | #{card.numberAvailable}
            a(id=card.id, style="text-decoration:none;color:#6da3bd;", href="#")
              | down
      hr
